@charset "utf-8";
@import "global.css";
.About:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html .About {height: 1%;}

.About{width:1000px; margin:0 auto; background:url(../images/bg_child.png) repeat-y  center top;}
.AboutL{width:230px; padding:19px 0 19px 0; float:left; display:inline;}
.AboutLT{width:190px; height:78px; background:url(../Images/about_03.jpg) no-repeat; margin-left:15px;}
.AboutLT p{padding:14px 0 0 17px; font-size:24px; color:#ffffff; width:190px; height:26px;}
.AboutLT span{padding:0 0 0 17px; font-size:18px; color:#ffffff; width:190px; height:0px; text-transform:uppercase;}

.AboutLB{width:190px; margin:8px 0 0 15px;}
.AboutLB ul li{ background:url(../Images/about_17.jpg) no-repeat; margin-bottom:8px;}
.AboutLB ul li a{line-height:29px; width:166px; height:29px; display:block; padding-left:24px; color:#404041;}
.AboutLB ul li a:hover, .AboutLB ul li a.cur{width:166px; height:29px; background:url(../Images/about_10.jpg) no-repeat; display:block; color:#FFF; text-decoration:none;}
.AboutLB ul li dl dd{ background:url(../Images/about_13.jpg) no-repeat; margin:4px 0 4px 18px;}
.AboutLB ul li dl dd a:hover,.AboutLB ul li dl dd a.cur{ background:url(../Images/about_15.jpg) no-repeat;}


.AboutR{width:768px; float:right; display:inline; padding:19px 0;}
.AboutRC{width:722px; margin:0 auto;}
.AboutRCt{width:722px; border-bottom:1px solid #e2e2e2; height:26px;}
.AboutRCt span{color:#000000; font-size:16px; margin-left:4px;}
.AboutRCt font{color:#666666; font-size:12px; float:right; margin-right:4px; background:url(../Images/about_06.jpg) no-repeat 0 2px; padding-left:22px;}
.AboutRCx{width:700px; padding:20px 14px; line-height:24px;}







