<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
    <sectionGroup name="system.web">
      <section name="neatUpload" type="Brettle.Web.NeatUpload.ConfigSectionHandler,Brettle.Web.NeatUpload" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
   <!-- <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-ADMIN-20140319144836;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-ADMIN-20140319144836.mdf"/>-->
  </connectionStrings>


  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/web/new/type/(.[0-9]*)/.html</LookFor>
        <SendTo>~/web/new.aspx?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/index.html</LookFor>
        <SendTo>~/index.aspx</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.web>
    <customErrors mode="Off"/>
    <httpModules>
      <!--大文件上传-->
      <add name="UploadHttpModule" type="Brettle.Web.NeatUpload.UploadHttpModule,Brettle.Web.NeatUpload"/>
    </httpModules>

    <!--useHttpModule="true" 设为true时才能看到上传状态，默认是False-->
    <neatUpload useHttpModule="true" maxNormalRequestLength="1048576" maxRequestLength="1048576" defaultProvider="FilesystemUploadStorageProvider">
      <providers>
        <add name="FilesystemUploadStorageProvider" type="Brettle.Web.NeatUpload.FilesystemUploadStorageProvider, Brettle.Web.NeatUpload"/>
      </providers>
    </neatUpload>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.html">

      <error statusCode="403" redirect="NoAccess.htm" />

        <error statusCode="404" redirect="FileNotFound.htm" />

    </customErrors>-->
    <httpRuntime maxRequestLength="2097151" requestValidationMode="2.0"/>
    <httpHandlers>
      <!--<add verb="*" path="*.aspx" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />
      <add verb="*" path="*.html" type="URLRewriter.RewriterFactoryHandler, URLRewriter" />-->
      <add verb="*" path="*.mp4" type="MyHandler" />
    </httpHandlers>
    <!--<httpRuntime requestValidationMode="2.0"/>-->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <!--<add key="strCon" value="server =222.73.236.166; user id =maset ;password=maset!@#; database = DB_maset" />-->
    <!--<add key="strCon" value="server =qds114411622.my3w.com; user id =qds114411622 ;password=qds114411622; database = qds114411622_db" />-->
    <!--<add key="strCon" value="server =qds12450331.my3w.com; user id =qds12450331 ;password=qds12450331; database = qds12450331_db" />-->
    <!--<add key="strCon" value="server =222.73.204.92; user id =maset ;password=maset!@#; database = DB_maset" />-->
    <add key="strCon" value="server =.; user id =sa ;password=sa; database = qds12450331_db"/>
    <!--<add key="strCon" value="server =.; user id =sa ;password=123; database = DB_FoonMee"/>-->
    <!--<add key="strCon" value="Data Source=.;Initial Catalog=DB_zhgs;Persist Security Info=True;"/>-->
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="tel" value="13817266700" />
    <add key="leave1" value="0.1"/>
    <!--一班佣金-->
    <add key="leave2" value="0.03"/>
    <!--二班佣金-->
    <add key="leave3" value="0.02"/>
    <!--三班佣金-->

    <add key="leave_1" value="0.05"/>
    <!--班长全球分红-->
    <add key="leave_2" value="0.03"/>
    <!--一班主任全球分红-->
    <add key="leave_3" value="0.02"/>
    <!--一校长全球分红-->

    <add key="leave1count" value="30"/>
    <!--班长条件-->
    <add key="leave2count" value="970"/>
    <!--班主任条件-->
    <add key="leave3count" value="4000"/>
    <!--校长条件-->

    <add key="jixiao1" value="0.02"/>
    <!--班主任绩效-->
    <add key="jixiao2" value="0.01"/>
    <!--校长绩效-->

    <add key="learnPart" value="0.1"/>
    <!--购物币比例-->

    <add key="shuifei" value="0.05"/>
    <!--税费-->
    <!--<add key="xueba" value="0.1"/>-->
    <!--学霸佣金-->
    <add key="xuebaCount" value="30"/>
    <!--学霸排名-->

  </appSettings>
</configuration>
